---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import GitHub from "../components/socials/GitHub.astro";
import LinkedIn from "../components/socials/LinkedIn.astro";
import Email from "../components/socials/Email.astro";
import HighlightsSection from "../components/HighlightsSection.astro";
import ProjectCard from "../components/ProjectCard.vue";

import cat from "../assets/cat.png";
import headshot from "../assets/headshot.jpg";
---

<Layout title="Daniel Pan">
	<div class="page">
		<div class="bio">
			<div class="bio-headshot">
				<Image
					src={headshot}
					alt="Headshot of Daniel"
					class="bio-headshot--image"
				/>
			</div>
			<div class="content">
				<header>
					<h1 class="hero_title">
						Hi, I'm
						<br />
						<span class="hero_title--name">Daniel</span> 👋
					</h1>
				</header>
				<main>
					<p>
						I'm a <span class="text-primary">Computer Science</span>
						student at University of British Columbia. I love making projects (and
						occasionally finishing them). In my free time, I like to spend my free
						time doing <span class="text-secondary">web development</span>,
						learning about infrastructure, and bouldering. I'm currently a co-op
						software developer for
						<span class="text-tertiary">Berlinguette Group</span>, where I'm
						helping to support nuclear fusion research!
					</p>
					<div class="contact">
						<span>Contact me:</span>
						<div class="contact-socials">
							<GitHub />
							<LinkedIn />
							<Email />
						</div>
					</div>
				</main>
			</div>
		</div>
		<HighlightsSection />
		<div class="projects">
			<h2 class="projects-header">
				My Favorite Projects
				<svg
					aria-hidden="true"
					xmlns="http://www.w3.org/2000/svg"
					width="24"
					height="24"
					fill="none"
					viewBox="0 0 24 24"
				>
					<path
						stroke="currentColor"
						stroke-linecap="round"
						stroke-linejoin="round"
						stroke-width="2"
						d="M12 19V5m0 14-4-4m4 4 4-4"></path>
				</svg>
			</h2>
			<div class="projects-content">
				<div class="projects-cards">
					<ProjectCard
						title="ProFound"
						tagline="The world's first AI cofounder!"
					>
						ProFound was a project we made for UBC BizTech's 2024 ProduHacks. In
						under 24 hours, I designed the frontend for an AI-powered low-code
						prototype generator app, which can help startup founders quickly
						make mockups for their ideas.
					</ProjectCard>
					<ProjectCard
						title="Sherlockify"
						tagline="Search your friends online!"
					>
						ProFound was a project we made for UBC BizTech’s 2024 ProduHacks. In
						under 24 hours, I designed the frontend for an AI-powered low-code
						prototype generator app, which can help startup founders quickly
						make mockups for their ideas.
					</ProjectCard>
				</div>
				<button class="bg-primary">
					<Image src={cat} alt="Cat" />
					<span>
						See more projects
						<svg
							width="12"
							height="6"
							viewBox="0 0 12 6"
							fill="none"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								d="M10.6666 3H1.33325M10.6666 3L7.99992 5M10.6666 3L7.99992 1"
								stroke="black"
								stroke-linecap="round"
								stroke-linejoin="round"></path>
						</svg>
					</span>
				</button>
			</div>
		</div>
	</div>
</Layout>

<style>
	.page {
		padding: 0 28px;
		@media (min-width: 1024px) {
			padding: 0 92px;
		}
	}

	.bio {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		align-self: stretch;
		gap: 32px;
		padding: 12px 0;

		@media (min-width: 768px) {
			flex-direction: row;
			justify-content: space-between;
			padding: 24px 0;
		}
	}

	.bio-headshot {
		width: 50%;
		/* background: linear-gradient(to right, var(--primary), var(--secondary), var(--tertiary)); */
		/* border: 1px solid black; */
		border-radius: 12px;
		padding: 2px;
		/* box-shadow: -8px 8px 0 0 black; */
		@media (min-width: 768px) {
			order: 1;
			width: 20%;
			margin-right: 40px;
		}
	}

	.bio-headshot--image {
		border: 1px solid black;
		box-shadow: -8px 8px 0 0 black;
		width: 100%;
		height: 100%;
		border-radius: 12px;
	}

	.content {
		display: flex;
		flex-direction: column;
		justify-content: start;
		gap: 12px;
		@media (min-width: 768px) {
			flex-basis: 50%;
		}
	}

	.content main {
		line-height: 175%;
		font-size: 18px;

		@media (min-width: 1024px) {
			font-size: 24px;
		}
	}

	.hero_title {
		margin: 0;
	}

	.hero_title--name {
		font-weight: 600;
	}

	.contact {
		margin-top: 4px;
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 20px;
	}

	.contact-socials {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 12px;
	}

	.projects {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 24px;
		padding: 12px 0;

		@media (min-width: 1024px) {
			align-items: start;
		}
	}

	.projects-header {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 4px;
	}

	.projects-content {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 32px;
	}

	.projects-cards {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 32px;
		@media (min-width: 768px) {
			flex-direction: row;
			gap: 40px;
		}
	}
</style>
