---
interface Props {
  title: string,
  date: string
  primacy?: 0|1|2 // primary|secondary|tertiary
}

const { title, date, primacy = 0 } = Astro.props;
---

<div class:list={
  [
    "highlights_card",
    {"highlights_card--primary": primacy === 0},
    {"highlights_card--secondary": primacy === 1},
    {"highlights_card--tertiary": primacy === 2}
  ]
}>
  <div class="highlights_card-header">
    <span class="highlights_card-title">
      <slot name="icon" />
      {title}
    </span>
    {date}
  </div>
  <p class="highlights_card-body">
    <slot />
  </p>
</div>

<style>
  .highlights_card {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 14px;
    padding: 16px;
    border: 1px solid black;
    border-radius: var(--default-border-radius);

    @media (min-width: 1024px) {
      padding: 24px;
    }
  }

  .highlights_card--primary {
    background-color: var(--primary);
  }

  .highlights_card--secondary {
    background-color: var(--secondary);
  }

  .highlights_card--tertiary {
    background-color: var(--tertiary);
  }

  .highlights_card-header {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 18px;
  }

  .highlights_card-title {
    display: flex;
    flex-direction: row;
    gap: 8px;
    font-size: 24px;
    font-weight: 500;
  }

  .highlights_card-body {
    margin: 0;
    @media (min-width: 1024px) {
      font-size: 16px;
    }
  }
</style>
