---
interface Props {
  title: string,
  date: string
}

const { title, date } = Astro.props;
---

<div class="highlights_card">
  <div class="highlights_card-header">
    <span class="highlights_card-title">
      <slot name="icon" />
      {title}
    </span>
    {date}
  </div>
  <p class="highlights_card-body">
    <slot />
  </p>
</div>

<style>
  .highlights_card {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 14px;
    padding: 12px;
    border: 1px solid transparent;
    border-radius: 12px;
    transition-property: all,border;
    transition-duration: 150ms;
    transition-timing-function: ease;
  }

  .highlights_card:hover {
    background-color: white;
    border: 1px solid black;
  }

  .highlights_card-header {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 18px;
  }

  .highlights_card-title {
    display: flex;
    flex-direction: row;
    gap: 8px;
    font-size: 24px;
    font-weight: 500;
  }

  .highlights_card-body {
    margin: 0;
    @media (min-width: 1024px) {
      font-size: 16px;
    }
  }
</style>
