---
import GitHub from "./GitHub.astro";
import LinkedIn from "./LinkedIn.astro";
import Email from "./Email.astro";
import linkedin from "../../assets/linkedin.svg";

interface props {
  boldText?: boolean
}

const { boldText } = Astro.props;
---

<div class:list={["navbar-socials", {"navbar-socials--bold": boldText}]}>
  <a class="navbar-social" href="https://github.com/daniel-panhead">
    <GitHub />
    <span class="navbar-social--label">GitHub</span>
  </a>
  <a class="navbar-social" href="https://linkedin.com/in/danielpan04">
    <img src={linkedin.src} alt="" />
    <!-- <LinkedIn /> -->
    <span class="navbar-social--label">LinkedIn</span>
  </a>
  <a class="navbar-social" href="mailto:danielpan.mail@gmail.com">
    <Email />
    <span class="navbar-social--label">Email</span>
  </a>
</div>

<style>
  .navbar-socials {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
  }

  .navbar-socials--bold {
    font-weight: 500;
  }
  
  .navbar-social {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
  }


  .navbar-social--label {
    display: none;
    @media (min-width: 1024px) {
      display: block;
    }
  }
</style>