---
import GitHub from "./GitHub.astro";
// import LinkedIn from "./LinkedIn.astro";
import Email from "./Email.astro";
import linkedin from "../../assets/linkedin.svg";

interface Props {
  boldText?: boolean;
}

const { boldText } = Astro.props;
---

<div class:list={["navbar-socials", { "navbar-socials--bold": boldText }]}>
  <a
    class="navbar-social"
    href="https://github.com/daniel-panhead"
    target="_blank"
    aria-label="Go to my GitHub"
  >
    <GitHub />
    <span class="navbar-social--label">GitHub</span>
  </a>
  <a
    class="navbar-social"
    href="https://linkedin.com/in/danielpan04"
    target="_blank"
    aria-label="Go to my LinkedIn"
  >
    <img src={linkedin.src} alt="" />
    <!-- <LinkedIn /> -->
    <span class="navbar-social--label">LinkedIn</span>
  </a>
  <a
    class="navbar-social"
    href="mailto:danielpan.mail@gmail.com"
    target="_blank"
    aria-label="Send me an email"
  >
    <Email />
    <span class="navbar-social--label">Email</span>
  </a>
</div>

<style>
  .navbar-socials {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    font-size: 18px;
  }

  .navbar-socials--bold {
    font-weight: 500;
  }

  .navbar-social {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    padding: 8px 8px;
    background-color: white;
    border: 2px solid black;
    border-radius: var(--default-border-radius);
    box-shadow: -4px 4px 0 0 black;
    transition: all 100ms ease-out;

    @media (min-width: 1024px) {
      padding: 12px;
    }
  }

  .navbar-social:hover {
    box-shadow: none;
    opacity: 1;
    transform: translate(-4px, 4px);
  }

  .navbar-social:active {
    filter: brightness(80%);
  }

  .navbar-social--label {
    display: none;
    @media (min-width: 1024px) {
      display: block;
    }
  }
</style>
