---
import Navbar from "./Navbar.astro";

interface Props {
	title: string;
	showNav?: boolean;
}

const { title, showNav = true } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Daniel Pan Website" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-T6DTLYXZ5Z"
	></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() {
			dataLayer.push(arguments);
		}
		gtag("js", new Date());

		gtag("config", "G-T6DTLYXZ5Z");
	</script>
	<body>
		{showNav && <Navbar />}
		<slot />
	</body>
</html>
<style is:global>
	@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

	:root {
		--page-background: #fffffb;
		--primary: #b5d7ff;
		--primary-text: #1174e8;
		--secondary: #efccff;
		--secondary-text: #b311ff;
		--tertiary: #fdffb1;
		--tertiary-text: #b58d00;

		--default-border-radius: 9px;
	}

	.bg-primary {
		background-color: var(--primary);
	}
	.text-primary {
		color: var(--primary-text);
	}
	.text-secondary {
		color: var(--secondary-text);
	}
	.text-tertiary {
		color: var(--tertiary-text);
	}

	html {
		font-family: "Work Sans", system-ui, sans-serif;
		background: var(--page-background);
	}

	body {
		display: flex;
		flex-direction: column;
		gap: 12px;
		padding-bottom: 20px;
	}

	h1 {
		font-weight: 500;
		font-size: 56px;
		@media (min-width: 1024px) {
			font-size: 72px;
		}
	}

	h2 {
		font-weight: 500;
		font-size: 24px;
		margin: 0;

		@media (min-width: 1024px) {
			font-size: 36px;
		}
	}

	.btn {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 10px;
		padding: 16px 20px;
		cursor: pointer;
		border: 1px solid black;
		border-radius: var(--default-border-radius);
		font-family: "Work Sans", system-ui, sans-serif;
		font-size: 14px;
		transition: all 100ms ease-out;
	}

	.btn:hover {
		filter: brightness(90%);
	}

	.btn:active {
		filter: brightness(80%);
	}

	a {
		text-decoration: none;
		color: black;
		transition: opacity 100ms ease-in-out;
	}
	a:hover {
		opacity: 0.6;
	}

	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
