---
import Socials from "../components/socials/Socials.astro";
---

<script>
  const homeAnchor = document.getElementById("home");
  const projectsAnchor = document.getElementById("projects");

  if (projectsAnchor && window.location.pathname.match(/^\/projects\/?$/)) {
    projectsAnchor.style.fontWeight = "700";
    if (homeAnchor) homeAnchor.style.fontWeight = "500";
  } else if (homeAnchor && window.location.pathname.match(/^\/$/)) {
    homeAnchor.style.fontWeight = "700";
    if (projectsAnchor) projectsAnchor.style.fontWeight = "500";
  }
</script>

<div>
  <div class="navbar-container">
    <ul class="navbar-routes">
      <li><a href="/" id="home">Home</a></li>
      <li><a href="/projects" id="projects">Projects</a></li>
    </ul>
    <Socials boldText={true} />
  </div>
</div>

<style>
  .navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 500;
    border-bottom: 2px solid black;
    padding: 20px 20px 24px 20px;

    @media (min-width: 1024px) {
      font-size: 24px;
      border-bottom: 3px solid black;
      padding: 20px 48px 24px 48px;
    }
  }

  ul.navbar-routes {
    display: flex;
    align-items: center;
    gap: 4px;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding-left: 0;
  }

  ul.navbar-routes li a {
    padding: 0px 8px;
  }

  
</style>
