---
import Socials from "../components/socials/Socials.astro";
---

<script>
  const homeAnchor = document.getElementById("home");
  const projectsAnchor = document.getElementById("projects");

  if (projectsAnchor && window.location.pathname.match(/^\/projects\/?$/)) {
    projectsAnchor.style.fontWeight = "500";
    if (homeAnchor) homeAnchor.style.fontWeight = "normal";
  } else if (homeAnchor && window.location.pathname.match(/^\/$/)) {
    homeAnchor.style.fontWeight = "500";
    if (projectsAnchor) projectsAnchor.style.fontWeight = "normal";
  }
</script>

<div>
  <div class="navbar-container">
    <ul class="navbar-routes">
      <li><a href="/" id="home">Home</a></li>
      <li><a href="/projects" id="projects">Projects</a></li>
    </ul>
    <Socials boldText={true} />
  </div>
</div>

<style>
  .navbar-container {
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px 20px;
    @media (min-width: 1024px) {
      padding: 20px 48px;
    }
  }

  ul.navbar-routes {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
  }
  ul.navbar-routes li {
    display: inline-block;
  }
  ul.navbar-routes li a {
    padding: 0px 12px;
  }

  
</style>
